# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings

# MacOS
.DS_Store

# Bootstrapped Cassandra
/cassandra
/cassandra.logdir_IS_UNDEFINED/

# Ignore files created by running fallout in the current directory
/logs/
/run/
/tests

# Build artifacts
.gradle/
build/
/node_modules/

# Nothing creates tmp, but it's a convenient place to keep
# temporary things
/tmp/

# Local configuration files
fallout.yaml
fallout.yml

# gradle.properties is overwritten by CI to control repository access (amongst
# other things), and should _never_ be checked in
/gradle.properties

# Python test artifacts
## tox
.tox/
## pytest
.pytest_cache/

# Python build artifacts
*.egg-info/
.eggs/
dist/

# Python compiled files
## Python2
*.pyc
## Python3
__pycache__/
