
<jmxtrans-agent>
    <queries>

        <!-- OS Memory -->
        <query objectName='java.lang:type=OperatingSystem' attribute='CommittedVirtualMemorySize' resultAlias='GenericJMX-OS.Memory.memory-CommittedVirtualMemorySize'/>
        <query objectName='java.lang:type=OperatingSystem' attribute='FreePhysicalMemorySize' resultAlias='GenericJMX-OS.Memory.memory-FreePhysicalMemorySize'/>
        <query objectName='java.lang:type=OperatingSystem' attribute='FreeSwapSpaceSize' resultAlias='GenericJMX-OS.Memory.memory-FreeSwapSpaceSize'/>
        <query objectName='java.lang:type=OperatingSystem' attribute='SystemLoadAverage' resultAlias='GenericJMX-OS.Memory.memory-SystemLoadAverage'/>
        <!-- JVM Memory -->
        <query objectName='java.lang:type=Memory' attribute='HeapMemoryUsage' resultAlias='GenericJMX-JVM.Memory.memory-HeapMemoryUsage-#key#'/>
        <query objectName='java.lang:type=Memory' attribute='NonHeapMemoryUsage' resultAlias='GenericJMX-JVM.Memory.memory-NonHeapMemoryUsage-#key#'/>
        <query objectName='java.lang:type=MemoryPool,name=*' attribute='Usage' resultAlias='GenericJMX-JVM.Memory-Pools-%name%.memory-#key#'/>
        <!-- GC -->
        <query objectName='java.lang:type=GarbageCollector,name=*' attribute='CollectionCount' resultAlias='GenericJMX-JVM.GC-%name%.gauge-CollectionCount'/>
        <query objectName='java.lang:type=GarbageCollector,name=*' attribute='CollectionTime' resultAlias='GenericJMX-JVM.GC-%name%.gauge-CollectionTime'/>

        <!-- Cassandra Metrics -->
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='50thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-50thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='75thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-75thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='95thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-95thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='98thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-98thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='999thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-999thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='99thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-99thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-Count'/>
        <!-- This is not supported for C* 2.1.19, which is what is embedded in fallout -->
        <!--<query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='DurationUnit' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-DurationUnit'/>-->
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='FifteenMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-FifteenMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='FiveMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-FiveMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='Max' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-Max'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='Mean' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-Mean'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='MeanRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-MeanRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='Min' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-Min'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='OneMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-OneMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='RateUnit' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-RateUnit'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Latency' attribute='StdDev' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Latency.gauge-StdDev'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ConditionNotMet' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ConditionNotMet.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='50thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-50thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='75thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-75thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='95thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-95thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='98thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-98thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='999thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-999thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='99thPercentile' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-99thPercentile'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='Max' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-Max'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='Mean' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-Mean'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='Min' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-Min'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=ContentionHistogram' attribute='StdDev' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-ContentionHistogram.gauge-StdDev'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Failures' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Failures.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Failures' attribute='FifteenMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Failures.gauge-FifteenMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Failures' attribute='FiveMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Failures.gauge-FiveMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Failures' attribute='MeanRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Failures.gauge-MeanRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Failures' attribute='OneMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Failures.gauge-OneMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Failures' attribute='RateUnit' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Failures.gauge-RateUnit'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Timeouts' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Timeouts.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Timeouts' attribute='FifteenMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Timeouts.gauge-FifteenMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Timeouts' attribute='FiveMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Timeouts.gauge-FiveMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Timeouts' attribute='MeanRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Timeouts.gauge-MeanRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Timeouts' attribute='OneMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Timeouts.gauge-OneMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Timeouts' attribute='RateUnit' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Timeouts.gauge-RateUnit'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=TotalLatency' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-TotalLatency.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Unavailables' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Unavailables.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Unavailables' attribute='FifteenMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Unavailables.gauge-FifteenMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Unavailables' attribute='FiveMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Unavailables.gauge-FiveMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Unavailables' attribute='MeanRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Unavailables.gauge-MeanRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Unavailables' attribute='OneMinuteRate' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Unavailables.gauge-OneMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=Unavailables' attribute='RateUnit' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-Unavailables.gauge-RateUnit'/>
        <query objectName='org.apache.cassandra.metrics:type=ClientRequest,scope=*,name=UnfinishedCommit' attribute='Count' resultAlias='GenericJMX-Cassandra.ClientRequest-%scope%-UnfinishedCommit.gauge-Count'/>

        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Capacity' attribute='Value' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Capacity.gauge-Value'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Entries' attribute='Value' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Entries.gauge-Value'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=HitRate' attribute='Value' resultAlias='GenericJMX-Cassandra.Cache-%scope%-HitRate.gauge-Value'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Hits' attribute='Count' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Hits.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Hits' attribute='FifteenMinuteRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Hits.gauge-FifteenMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Hits' attribute='FiveMinuteRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Hits.gauge-FiveMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Hits' attribute='MeanRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Hits.gauge-MeanRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Hits' attribute='OneMinuteRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Hits.gauge-OneMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Hits' attribute='RateUnit' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Hits.gauge-RateUnit'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Requests' attribute='Count' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Requests.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Requests' attribute='FifteenMinuteRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Requests.gauge-FifteenMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Requests' attribute='FiveMinuteRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Requests.gauge-FiveMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Requests' attribute='MeanRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Requests.gauge-MeanRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Requests' attribute='OneMinuteRate' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Requests.gauge-OneMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Requests' attribute='RateUnit' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Requests.gauge-RateUnit'/>
        <query objectName='org.apache.cassandra.metrics:type=Cache,scope=*,name=Size' attribute='Value' resultAlias='GenericJMX-Cassandra.Cache-%scope%-Size.gauge-Value'/>

        <query objectName='org.apache.cassandra.metrics:type=CommitLog,name=CompletedTasks' attribute='Value' resultAlias='GenericJMX-Cassandra.CommitLog-CompletedTasks.gauge-Value'/>
        <query objectName='org.apache.cassandra.metrics:type=CommitLog,name=PendingTasks' attribute='Value' resultAlias='GenericJMX-Cassandra.CommitLog-PendingTasks.gauge-Value'/>
        <query objectName='org.apache.cassandra.metrics:type=CommitLog,name=TotalCommitLogSize' attribute='Value' resultAlias='GenericJMX-Cassandra.CommitLog-TotalCommitLogSize.gauge-Value'/>

        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=BytesCompacted' attribute='Count' resultAlias='GenericJMX-Cassandra.Compaction-BytesCompacted.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=CompletedTasks' attribute='Value' resultAlias='GenericJMX-Cassandra.Compaction-CompletedTasks.gauge-Value'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=PendingTasks' attribute='Value' resultAlias='GenericJMX-Cassandra.Compaction-PendingTasks.gauge-Value'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=TotalCompactionsCompleted' attribute='Count' resultAlias='GenericJMX-Cassandra.Compaction-TotalCompactionsCompleted.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=TotalCompactionsCompleted' attribute='FifteenMinuteRate' resultAlias='GenericJMX-Cassandra.Compaction-TotalCompactionsCompleted.gauge-FifteenMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=TotalCompactionsCompleted' attribute='FiveMinuteRate' resultAlias='GenericJMX-Cassandra.Compaction-TotalCompactionsCompleted.gauge-FiveMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=TotalCompactionsCompleted' attribute='MeanRate' resultAlias='GenericJMX-Cassandra.Compaction-TotalCompactionsCompleted.gauge-MeanRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=TotalCompactionsCompleted' attribute='OneMinuteRate' resultAlias='GenericJMX-Cassandra.Compaction-TotalCompactionsCompleted.gauge-OneMinuteRate'/>
        <query objectName='org.apache.cassandra.metrics:type=Compaction,name=TotalCompactionsCompleted' attribute='RateUnit' resultAlias='GenericJMX-Cassandra.Compaction-TotalCompactionsCompleted.gauge-RateUnit'/>

        <query objectName='org.apache.cassandra.metrics:type=Storage,name=TotalHints' attribute='Count' resultAlias='GenericJMX-Cassandra.Storage-TotalHints.gauge-Count'/>
        <query objectName='org.apache.cassandra.metrics:type=Storage,name=TotalHintsInProgress' attribute='Count' resultAlias='GenericJMX-Cassandra.Storage-TotalHintsInProgress.gauge-Count'/>
    </queries>

    <outputWriter class="org.jmxtrans.agent.GraphitePlainTextTcpOutputWriter">
        <host>{{host}}</host>
        <port>{{port}}</port>
        <namePrefix>fallout.cassandra.embedded.</namePrefix>
    </outputWriter>

    <collectIntervalInSeconds>{{collectionIntervalInSeconds}}</collectIntervalInSeconds>
    <reloadConfigurationCheckIntervalInSeconds>60</reloadConfigurationCheckIntervalInSeconds>
</jmxtrans-agent>
