# This file should contain _only_ the packages needed to test the package;
# all other dependencies should be in setup.py

pytest~=3.6; python_version < '3'
# Pinned until ENGOPS-860 is fixed
more-itertools<6.0.0; python_version < '3'
pytest~=4.3; python_version >= '3'
flake8~=3.7

# Do _not_ be tempted to add --install-options=--no-cython here; it will
# disable _all_ wheel downloading (see https://github.com/pypa/pip/blob/5f3c56e1889ccafe49633e7bc7871b3b34ce2a8a/src/pip/_internal/cli/cmdoptions.py#L77)
# Instead, set CASS_DRIVER_NO_EXTENSIONS=1 in the environment (which is what
# tox.ini does)
cassandra-driver~=3.9

psutil~=5.6
