The following test runs are past the fallout retention policy and have been deleted:

{{#reapedTestNotificationDetails}}
    *{{getKey}}*
    {{#getValue}}
        {{#testRuns}}
            {{externalUrl}}{{getTestRunUri}} *Finished at*: {{getFinishedAtUtc}}
        {{/testRuns}}
    {{/getValue}}
{{/reapedTestNotificationDetails}}

You have *30 days* to restore any test runs you wish to save from the Trash bin and mark them as safe from deletion before they are *permanently deleted*.

The trash bin is available at: {{externalUrl}}/tests/ui/deleted
