Your Fallout test: *{{testRun.testName}}*
Has completed with status: *{{testRun.state}}* {{#testRun.failedDuring}} During: *{{testRun.failedDuring}}*. {{/testRun.failedDuring}}
More information at:
{{testRunUri}}
