<script src="{{mainView.assetsRoot}}/bower_components/sortable/js/sortable.min.js"></script>
<head>
    <link rel="stylesheet" href="{{mainView.assetsRoot}}/bower_components/sortable/css/sortable-theme-minimal.css">
</head>
{{#tests}}
<table class="table table-bordered table-striped" data-sortable>
    <thead>
    <tr>
        {{#show.OWNER}}<th>Owner</th>{{/show.OWNER}}
        <th>Test</th>
        <th>Last Run at</th>
        <th>Created at</th>
        <th>Size On Disk</th>
        <th data-sortable="false">Actions</th>
    </tr>
    </thead>
    <tbody>
        {{#tests}}
            <tr>
                {{#show.OWNER}}
                    <td>
                        {{{ownerLink}}}
                    </td>
                {{/show.OWNER}}
                <td data-value="{{testLink}}">

                    {{{testLink}}}

                    {{#test}}
                        <div class="tags-container">
                            {{#tags}}
                                <p class="tag-pill">{{.}}</p>
                            {{/tags}}
                        </div>
                    {{/test}}
                </td>
                {{#test}}
                    <td>{{lastRunAtUtc}}</td>
                    <td>{{createdAtUtc}}</td>
                    <td data-value="{{sizeOnDiskBytes}}">{{sizeOnDisk}}</td>
                    <td>
                    <div class="btn-group btn-group-xs" role="group">
                        {{^show.RESTORE_ACTIONS}}

                            {{#isOwner}}
                                <a title="Tag test" id="{{name}}-tag"
                                   class="btn btn-warning btn-xs" href="#"
                                   onclick="displayTagModal('{{name}}')">
                                    <i class="fa fa-tag"></i>
                                </a>
                            {{/isOwner}}

                            {{#canDelete}}
                                <a title="Delete test" id="{{name}}-del"
                                   class="btn btn-danger btn-xs" href="#"
                                   onclick="deleteTest('{{owner}}', '{{name}}')">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            {{/canDelete}}

                        {{/show.RESTORE_ACTIONS}}

                        {{#show.RESTORE_ACTIONS}}

                            {{#canDelete}}
                                <a title="Restore test"
                                   class="btn btn-primary btn-xs"
                                   onclick="restoreTest('{{owner}}', '{{name}}')" href="#">
                                    <i class="fa fa-recycle"></i>
                                </a>

                                <a title="Delete Forever"
                                   class="btn btn-danger btn-xs" href="#"
                                   onclick="deleteDeletedTestForever('{{owner}}', '{{name}}')">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            {{/canDelete}}

                        {{/show.RESTORE_ACTIONS}}
                    </div>

                    </td>
                {{/test}}
            </tr>
        {{/tests}}

    </tbody>
</table>
{{/tests}}
