{
    "apiVersion": "v1",
    "items": [
        {
            "apiVersion": "v1",
            "kind": "PersistentVolume",
            "metadata": {
                "annotations": {
                    "kubernetes.io/createdby": "gce-pd-dynamic-provisioner",
                    "pv.kubernetes.io/bound-by-controller": "yes",
                    "pv.kubernetes.io/provisioned-by": "kubernetes.io/gce-pd"
                },
                "creationTimestamp": "2022-01-31T19:21:31Z",
                "finalizers": [
                    "kubernetes.io/pv-protection"
                ],
                "labels": {
                    "{{topologyLabelPrefix}}/region": "us-west2",
                    "{{topologyLabelPrefix}}/zone": "us-west2-a"
                },
                "name": "pvc-37dceae5-9a5e-4812-95d4-dc7751031ea2",
                "resourceVersion": "1269",
                "uid": "fa7a0ddf-1be6-4274-9501-80167bb6760c"
            },
            "spec": {
                "accessModes": [
                    "ReadWriteOnce"
                ],
                "capacity": {
                    "storage": "1Gi"
                },
                "claimRef": {
                    "apiVersion": "v1",
                    "kind": "PersistentVolumeClaim",
                    "name": "fal-1793-pvc-retain",
                    "namespace": "default",
                    "resourceVersion": "1257",
                    "uid": "37dceae5-9a5e-4812-95d4-dc7751031ea2"
                },
                "gcePersistentDisk": {
                    "fsType": "ext4",
                    "pdName": "gke-gke-elasticsearch--pvc-37dceae5-9a5e-4812-95d4-dc7751031ea2"
                },
                "nodeAffinity": {
                    "required": {
                        "nodeSelectorTerms": [
                            {
                                "matchExpressions": [
                                    {
                                        "key": "{{topologyLabelPrefix}}/zone",
                                        "operator": "In",
                                        "values": [
                                            "us-west2-a"
                                        ]
                                    },
                                    {
                                        "key": "{{topologyLabelPrefix}}/region",
                                        "operator": "In",
                                        "values": [
                                            "us-west2"
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                },
                "persistentVolumeReclaimPolicy": "Retain",
                "storageClassName": "fal-1793-retain",
                "volumeMode": "Filesystem"
            },
            "status": {
                "phase": "Bound"
            }
        },
        {
            "apiVersion": "v1",
            "kind": "PersistentVolume",
            "metadata": {
                "annotations": {
                    {{#secondDiskIsDynamicallyAllocated}}
                    "kubernetes.io/createdby": "gce-pd-dynamic-provisioner",
                    {{/secondDiskIsDynamicallyAllocated}}
                    "pv.kubernetes.io/bound-by-controller": "yes",
                    "pv.kubernetes.io/provisioned-by": "kubernetes.io/gce-pd"
                },
                "creationTimestamp": "2022-01-31T19:21:34Z",
                "finalizers": [
                    "kubernetes.io/pv-protection"
                ],
                "labels": {
                    "{{topologyLabelPrefix}}/region": "us-west2",
                    "{{topologyLabelPrefix}}/zone": "us-west2-a"
                },
                "name": "pvc-cb130378-db0e-42bb-94a3-6f4f909fb34f",
                "resourceVersion": "1310",
                "uid": "8a1adc45-e407-4920-b39a-fcf2267933ac"
            },
            "spec": {
                "accessModes": [
                    "ReadWriteOnce"
                ],
                "capacity": {
                    "storage": "1Gi"
                },
                "claimRef": {
                    "apiVersion": "v1",
                    "kind": "PersistentVolumeClaim",
                    "name": "fal-1793-pvc-delete",
                    "namespace": "default",
                    "resourceVersion": "1290",
                    "uid": "cb130378-db0e-42bb-94a3-6f4f909fb34f"
                },
                "gcePersistentDisk": {
                    "fsType": "ext4",
                    "pdName": "gke-gke-elasticsearch--pvc-cb130378-db0e-42bb-94a3-6f4f909fb34f"
                },
                "nodeAffinity": {
                    "required": {
                        "nodeSelectorTerms": [
                            {
                                "matchExpressions": [
                                    {
                                        "key": "{{topologyLabelPrefix}}/region",
                                        "operator": "In",
                                        "values": [
                                            "us-west2"
                                        ]
                                    },
                                    {
                                        "key": "{{topologyLabelPrefix}}/zone",
                                        "operator": "In",
                                        "values": [
                                            "us-west2-a"
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                },
                "persistentVolumeReclaimPolicy": "Delete",
                "storageClassName": "standard",
                "volumeMode": "Filesystem"
            },
            "status": {
                "phase": "Bound"
            }
        }
    ],
    "kind": "List",
    "metadata": {
        "resourceVersion": "",
        "selfLink": ""
    }
}
