apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}-deployment
  labels:
    app: {{name}}
spec:
  replicas: {{replicas}}
  selector:
    matchLabels:
      app: {{name}}
  template:
    metadata:
      labels:
        app: {{name}}
    spec:
      containers:
      - name: {{name}}
        image: {{image}}
        imagePullPolicy: Always
        command: ['tail', '-f', '/dev/null']
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{name}}
              topologyKey: "kubernetes.io/hostname"
