<div id="action-error" class="alert alert-danger" style="display: none;">
</div>
<div id="action-success" class="alert alert-success" style="display: none;">
</div>
<div id="action-info" class="alert alert-info" style="display: none;">
</div>

<script src="{{mainView.assetsRoot}}/js/message-area.js"></script>
