{{> partials/header}}

{{> partials/menus }}

<script lang="JavaScript" src="{{mainView.assetsRoot}}/js/mustache.js"></script>

<script id="label-template" type="x-tmpl-mustache">

    <hr width=100%>

    <div class="form-group {{cssClass}}">
      <label>{{label}}</label>
      <input class="form-control" name="{{id}}"/>
    </div>


</script>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row col-lg-12">
            <br/>

            {{^edit}}
            <div class="alert alert-info">
                <p>Write your new test below. You can open a new window containing documentation for the component's properties in the side nav bar under "Component Docs".</p>
            </div>
            {{/edit}}

            {{> partials/message-area}}

            <form onsubmit="return false">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Edit or Save YAML:
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <textarea class="form-control col-lg-12" id="resultyaml">{{#test}}{{test.definition}}{{/test}}{{^test}}{{defaultTestDefinition}}{{/test}}</textarea>
                        </div>
                        <br/><br/>

                        <div class="form-group col-lg-6" {{#edit}}style="display:none"{{/edit}}>
                            <label>Name test</label>
                            <input class="form-control" name="name" id="test-name" {{#edit}}type="hidden" value="{{test.name}}"{{/edit}} {{^edit}}type="text"{{/edit}}/>
                        </div>

                        <div class="col-lg-12">
                            <button class="btn btn-primary" id="test-submit">Save Test Definition</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{{> partials/fallout-test-definition-editor}}

<script>

    var editor = createFalloutTestDefinitionEditor(document.getElementById("resultyaml"), "auto");

    $(function () {

        $("#test-submit").click(function () {

            var name = $("#test-name").val();
            var pattern = /^[0-9a-zA-Z\.\-_]+$/;
            if (!pattern.test(name)) {
                showErrorMessage("Test name must be alphanumeric with no spaces (.-_ allowed)");
                return;
            }

            editor.save();

            $.ajax({
                url: "/tests/" + name + "/api",
                type: "{{#edit}}PUT{{/edit}}{{^edit}}POST{{/edit}}",
                data: $("#resultyaml").val(),
                contentType: "application/yaml",
                success: function (data) {
                    //redirect
                    window.location = "/tests/ui/" + data.owner + "/" + data.name;
                },
                error: showAjaxErrorMessage
            })
        });
    });

    /* Prevent accidental back navigation click
       see https://stackoverflow.com/a/56687678
    */
    // push state to intercept on next back button click
    history.pushState(null, document.title, location.href);
    // back button triggers popstate
    window.addEventListener('popstate', function (event)
    {
        confirm("Leaving this page will leave test definition unsaved. Continue?") ?
            // first state pushed has been removed, another back() navigates to the previous page
            history.back() :
            // push another state to intercept
            history.pushState(null, document.title, location.href);
    });

</script>


{{> partials/footer}}
