apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}-deployment
  labels:
    app: {{name}}
spec:
  replicas: {{replicas}}
  selector:
    matchLabels:
      app: {{name}}
  template:
    metadata:
      labels:
        app: {{name}}
    spec:
      containers:
      - name: {{name}}
        image: {{image}}
        imagePullPolicy: Always
        command: ['tail', '-f', '/dev/null']
        {{#cpu}}
        resources:
          limits:
            cpu: {{cpu}}
          requests:
            cpu: {{cpu}}
        {{/cpu}}
        env:
        {{#env}}
          - name: {{key}}
            value: {{value}}
        {{/env}}
        volumeMounts:
        {{#volumeMounts}}
          - name: {{name}}
            mountPath: {{mountPath}}
        {{/volumeMounts}}
      volumes:
      {{#volumes}}
        - name: {{name}}
          configMap:
            name: {{configMap}}
      {{/volumes}}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{name}}
              topologyKey: "kubernetes.io/hostname"
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{name}}
                topologyKey: failure-domain.beta.kubernetes.io/zone
