apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{name}}
spec:
  storageClassName: fallout-storage
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{capacity}}