apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{name}}
spec:
  storageClassName: local-storage
  capacity:
    storage: {{capacity}}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  hostPath:
    path: {{path}}